*{
  box-sizing: border-box;
}

body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

#logo{
  width: 400px;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}

.todays{
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: royalblue;
}

.yearmonth{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

#thisYear{
  margin-right: 10px;
}

#tablediv{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

button{
  height: 30px;
}

table{
  margin: 0 40px;
}

td{
  text-align: center;
  width: 46px;
}