@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html,
body {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Pretendard";
}

#vaco {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
}

main {
  border: 1px solid grey;
  width: 420px;
  height: 800px;
}

/* index.html */
ul.error-msg {
  position: relative;
}

ul.error-msg ol {
  position: absolute;
}

ul.error-msg ol {
  display: none;
}

button#btn-login {
  margin-top: 20px;
}

/* chat.html */
main.chat-view {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
}

div.msg-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

div.msg-list div.text-box {
  background-color: aqua;
}

div.msg-list div.text-box ul {
  width: 60%;
  min-height: auto;
  border: 1px solid #000;
}
div.msg-list div.text-box ul li {
  background-color: bisque;
  display: flex;
}

div.msg-list div.text-box ul li span {
  border: 1px solid #770077;
  display: flex;
}

div.msg-list div.text-box ul li span:first-child {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  border-radius: 50%;
  background-color: #A1B7E5;
}

div.msg-list div.text-box ul li span:nth-child(2) {
  width: 100%;
  height: 100%;
  min-height: inherit;
  font-size: 15px;
}

div.msg-list div.text-box ul li span:last-child {
  align-items: end;
  font-size: 12px;
}

div.msg-list .new-msg {
  width: 60%;
  height: auto;
  min-height: auto;
  border: 1px solid #000;

}

.user-msg input {
  width: 100%;
  height: 30px;
}
